USE [master]
GO
/****** Object:  Database [CursosDB]    Script Date: 24/6/2026 17:35:20 ******/
CREATE DATABASE [CursosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CursosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CursosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CursosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CursosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CursosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CursosDB]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 24/6/2026 17:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[Duracion] [int] NOT NULL,
	[CuposDisponibles] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([Id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (6, N'Introducción a Python', N'Programacion', 50, 20, 1)
INSERT [dbo].[Cursos] ([Id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (8, N'Diseño Grafico', N'Diseño', 30, 15, 1)
INSERT [dbo].[Cursos] ([Id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (12, N'Marketing Digital', N'Negocios', 35, 18, 0)
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
USE [master]
GO
